@charset "utf-8";
*{margin:0;padding:0;}
body {
	font: 16px "microsoft yahei", Arial, Helvetica, sans-serif,"宋体","黑体";
}
ul{
	list-style: none;
}
.lf{float:left;}.rt{float:right;}
a{cursor: pointer;}
.mui-bar{
	height:43px;
	line-height: 43px;
	background:#886F5D;
}
.mui-bar a,.mui-bar h1{
	color:#fff;
}
.mui-bar .mui-icon {
    font-size: 16px;
    position: relative;
    z-index: 20;
    padding-top: 14px;
     padding-bottom: 0px; 
}
.mui-bar-nav.mui-bar .mui-icon {
    padding-left: 15px;
}
.mui-content{
	background-color: #E4E4E4;
}
.mypict{
	width:95%;
	margin: 0 auto;
	margin-top: 15px;
}
.mypict li{
	width:48%;
	display: inline-block;
	background:#FFFFFF;
	border-radius: 0 0 5px 5px;
	margin-bottom: 10px;

}
.mypict li img{
	width:100%;
}
.product-title{
	padding:5px 0 0 10px;
	font-size:16px;
	color:#4A4A4A;
	margin-bottom:0px;
}
.detail-info{
	font-size:12px;
	padding:0 10px 0px 10px;
	margin-bottom: 0;
}
.pprice{
	padding:0 9px;
	color:#FE4B01;
	margin-bottom: 0;
}
.zan-comm{
	text-align: right;
	padding-right:10px;
}
.zan-comm a{
	padding-left:22px;
	margin-left:10px;
	color:#5A5A5A;
	padding-top:2px;
	padding-bottom:2px;
}
.collection{
	background: url(../img/like-拷贝-2@2x.png) no-repeat;
	background-position: left center;
	background-size:20px 20px;
}
.collectioned{
	background: url(../img/形状-1@3x.png) no-repeat;
	background-position: left center;
	background-size:20px 20px;
}
.zan-comm a:last-child{
	background:url(../img/comments-拷贝-2@2x.png) no-repeat;
	background-position: left center;
	background-size:20px 20px;
}
