@charset "utf-8";
*{margin:0;padding:0;}
body {
    font: 16px "microsoft yahei", Arial, Helvetica, sans-serif,"宋体","黑体";
    background-color: #F5F4E8;
}
ul{
    list-style: none;
}
.lf{float:left;}.rt{float:right;}
a{cursor: pointer;}
.firstTime{
    padding:0 20px;
    height:40px;
    line-height: 40px;
    font-size: 16px;
    color:#888887;
}